<!DOCTYPE html>
<script>
// Prevent variables from being global      
(function () {
      /*
          1. Inject CSS which makes iframe invisible
      */  
    var div = document.createElement('div'),
        ref = document.getElementsByTagName('base')[0] || 
              document.getElementsByTagName('script')[0];
    div.innerHTML = '&shy;<style> iframe { visibility: hidden; } </style>';
    ref.parentNode.insertBefore(div, ref);     
    /*
        2. When window loads, remove that CSS, 
           making iframe visible again
    */  
    window.onload = function() {
        div.parentNode.removeChild(div);
    }
})();
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-97296052-1', 'auto');
  ga('send', 'pageview');

</script>
<html>
  <head>
    <title>Lefthook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="container header">
	  	<div class="row  black-bg  justofy-content-center">
	  		<div class="col-12">
	  			<br /><%= image_tag "Lefthook-Web-Banner.gif", :class => "img-fluid" %>
	  		</div>
	  	</div>
    </div>
    <%= yield %>
    <div class="container header">
      <div class="row justify-content-center">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3 text-center"> 
          <a href="https://www.amazon.com/gp/product/B06Y4WKD8R">
            <p class="lead white">PRE-ORDER <br />
              <%= image_tag "amazon-button.png", :height => "44px" %>
            </p>
          </a>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3 text-center">
          <p class="lead white">FOLLOW <br />
            <iframe allowtransparency="true" scrolling="no" frameborder="no" src="https://w.soundcloud.com/icon/?url=http%3A%2F%2Fsoundcloud.com%2Flefthookmusic&color=orange_white&size=40" style="width: 40px; height: 40px;"></iframe>
          </p>
        </div>
      </div>      
      <div class="row justify-content-left">
        <div class="col">
          <p class="text-center">
            &copy;2017 New York Nausea, All Rights Reserved
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
