<!DOCTYPE html>
<iframe style="visibility:hidden;" onload="this.style.visibility = 'visible';" src="#" > </iframe>
<html>
  <head>
    <title>Lefthook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="container header">
	  	<div class="row  black-bg  text-center">
	  		<div class="col-12">
	  			<br /><%= image_tag "text-extruded.png", :class => "img-fluid" %>
	  		</div>
	  	</div>
    </div>
    <%= yield %>
    <div class="container header">
      <div class="row  black-bg  text-center">
        <div class="col-md-12">
          <h1 class="display-1">&nbsp;</h1>
        </div>
      </div>
    </div>
  </body>
</html>
